:root {
  --ss-background: #F8F2ED;
  --ss-surface: #FFFCF9;
  --ss-chrome: #E7E0D9;
  --ss-foreground: #0D0B09;
  --ss-muted-foreground: #534F4C;
  --ss-chrome-foreground: #0D0B09;
  --ss-border: #C1B9B1;
  --ss-primary: #226B5E;
  --ss-primary-foreground: #FEFBF9;
  --ss-accent: #31628B;
  --ss-accent-foreground: #FEFBF9;
  --ss-focus: #0060A6;
  --ss-success: #006425;
  --ss-success-foreground: #FEFBF9;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FEFBF9;
  --ss-danger: #902824;
  --ss-danger-foreground: #FEFBF9;
  --ss-primary-50: #E6FFF8;
  --ss-primary-100: #C6F8EB;
  --ss-primary-200: #B0E4D8;
  --ss-primary-300: #93CBBE;
  --ss-primary-400: #6FAC9F;
  --ss-primary-500: #4F9283;
  --ss-primary-600: #357A6C;
  --ss-primary-700: #206255;
  --ss-primary-800: #06483D;
  --ss-primary-900: #002E27;
  --ss-primary-950: #001612;
  --ss-accent-50: #F3F9FF;
  --ss-accent-100: #DBEEFF;
  --ss-accent-200: #B7DCFF;
  --ss-accent-300: #99C3E8;
  --ss-accent-400: #77A3CB;
  --ss-accent-500: #5988B2;
  --ss-accent-600: #417099;
  --ss-accent-700: #2D597E;
  --ss-accent-800: #184061;
  --ss-accent-900: #032845;
  --ss-accent-950: #001325;
}
